{% extends 'base.html' %}
{% load static %}
{% block title %} | About Us {% endblock %}
{% block body%}
<section id="showcase-inner" class="py-5 text-grey">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">About Us</h1>
          <p class="lead">Welcome to a platform for learners </p>
        </div>
      </div>
    </div>
  </section>

  <section id="about" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>For lessons for Cybersec Studies</h2>
          <p class="lead">Join secure yourselves</p>
          <img src="/media/photos/pages/about.jpg" alt="">
          <p class="mt-4">For the learners with Need for Security</p>
        </div>
        <div class="col-md-4">
          {% if mvp_instructors %}
            {% for instructor in mvp_instructors %}
          <div class="card">
            <img class="card-img-top" src="{{instructor.photo.url}}" alt="Seller of the month">
            <div class="card-body">
              <h5 class="card-title">Instructor Of The Month</h5>
              <h6 class="text-secondary">{{instructor.name}}</h6>
              <p class="card-text">{{instructor.description}}
              </p>
            </div>
          </div>
            {% endfor %}
          {% endif %}

        </div>
      </div>
    </div>
  </section>

  <!-- Work -->
  <section id="work" class="bg-dark text-grey text-center">
    <h2 class="display-4">We Work For You</h2>
    <h4>We connect you with the right instructor our workload needs.</h4>
    <hr>
    <a href="" class="btn btn-secondary text-red btn-lg">courses</a>
    </section>

  <!-- Team -->
  <section id="team" class="py-5">
    <div class="container">
      <h2 class="text-center">Our Team</h2>
      <div class="row text-center">

        {% if instructors %}
          {% for instructor in instructors %}
          <div class="col-md-4">
          <img src="{{ instructor.photo.url }}" alt=""  height="250" width="250" class="rounded-circle mb-3">
          <h4>{{instructor.name}}</h4>
          <p class="text-success">
            <i class="fas fa-award text-success mb-3"></i> instructor</p>
          <hr>
          <p>
            <i class="fas fa-phone"></i> {{instructor.phone}}</p>
          <p>
            <i class="fas fa-envelope-open"></i> {{instructor.email}}</p>
        </div>
          {% endfor %}

        {% else %}
         <div class="col-md-12">
            <p> No instructors Available</p>
          </div>
        {% endif %}

      </div>
    </div>
  </section>


{% endblock %}